.header {
  z-index: 1;
  padding: 40px 0;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #4c4c4c;
}

.searchForm {
  padding: 0 20px;
  max-width: 640px;
  margin: 0 auto;
  position: relative;
}

.searchForm input {
  width: 100%;
  outline: none;
  margin: 0 auto;
  font-size: 18px;
  padding: 12px 20px;
  border-radius: 10px;
  background-color: #595959;
  transition: border 0.2s ease;
  color: rgb(170, 170, 170);
  border: 1px solid rgb(117, 117, 117);
}

.searchForm input:hover {
  border: 1px solid rgb(127, 127, 127);
}

.searchForm input:focus {
  border: 1px solid rgb(149, 149, 149);
}

.searchForm input::placeholder {
  font-size: 20px;
  font-family: Montserrat;
  letter-spacing: 0.02em;
  color: rgb(150, 150, 150);
}

.searchForm button {
  position: absolute;
  top: 0;
  right: 30px;
  padding: 12px 0;
  /* margin-left: -20px; */
  background-color: transparent;
  color: rgb(224, 224, 224);
  transition: color 0.5s ease, scale 0.2s ease;
  border: none;
}

.searchForm button:active {
  /* transform: translateY(1px); */
}

.searchForm button:hover {
  color: rgb(225, 225, 225);
  scale: 1.2;
}

.toaster {
  background-color: #6d6d6d;
  border: 1px solid #757575;
  padding: 8px;
  color: #bababa;
}
